[defaults]
become = True #Aqui ele está perguntando se irá usar o sudo quando executar
become_method = sudo #Aqui pergunta o methodo no qual será o sudo, mas pode ter outras autenticações
become_user = ansible #nome do usuario no caso é esse que estou usuando
ask_pass = False #Aqui está perguntando se irá pedi as senha ssh na hora de executar, como a gente usa ssh sem senha coloca false
host_key_checking = False #aqui é a parte quando vai conectar pela primeira vez no ssh, neste caso coloca False

inventory = /home/ansible/curso_ansible/playbooks/Inventories/inventory.yml

deprecation_warnings = False # Aqui é quando vai executar o ansible ele vai perguntar alguns warning de depreciação eu coloco false.

roles_path = /home/ansible/curso_ansible/roles/

#hide unreacheble errors
#bin_ansible_callbacks = True
#stdout_callback = community.general.diy

#[callback_diy]
#runner_on_unreachable_msg=""

[inventory]
enable_plugins = host_list, aws_ec2, script, auto, yaml, ini, toml

